<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="listadoposts.length > 0">
    <h1 class="ion-text-center">Posts</h1>
    
    <ion-list>
      <div *ngFor="let aux of listadoposts" [routerLink]="['../listadoposts/', aux.id]">
        
        <ion-item>
          
          <ion-label>{{aux.id}}</ion-label>
          <ion-label>{{aux.name}}</ion-label>
          <ion-label>{{aux.username}}</ion-label>
        </ion-item>
        <hr>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salir()" expand="block" fill="clear" shape="round"
    defaultHref="login">
      log out
    </ion-button>
  </ion-toolbar>
</ion-footer>