<ion-header>
  <ion-toolbar>
    <ion-title>Info Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usuarios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text color="primary">
  <div *ngIf="datos != null">
    <h1>{{datos.id}}</h1>
    <h1>{{datos.name}}</h1>
    <h1>{{datos.username}}</h1>
    <h1>{{datos.email}}</h1>
    <h1>{{datos.address.street}}, {{datos.address.suite}}</h1>

  </div>
</ion-text>

</ion-content>
